<li id="task-<%= task.id %>">
  <%= form_for(task, html: { class: "form-inline"}) do |f| %>
    <span class="user"><%= link_to task.owner.name, task.owner %></span>
    <span class="content">
      <% if task.completed? %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% if current_user?(task.owner) || current_user?(task.assignee) %>
          <%= f.submit "Completed", class: "btn btn-primary btn-xs", width: "50px" %>
        <% end %>
      <% else %>
        <% if current_user?(task.owner) || current_user?(task.assignee) %>
          <%= f.submit "Not Completed", class: "btn btn-danger btn-xs" %>
        <% end %>
      <% end %>

      <%= task.value %>

      <span class="user">
        <%= link_to task.assignee.name, task.assignee unless task.assignee.nil? %>
      </span>
    </span>

  <% end %>


  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.

    <% if current_user?(task.owner)%>
      <%= link_to "Delete", task, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>

  </span>
</li>