<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @task.owner %>
</p>

<p>
  <strong>Value:</strong>
  <%= @task.value %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category %>
</p>

<p>
  <strong>Overdue:</strong>
  <%= @task.overdue %>
</p>

<p>
  <strong>Assignee:</strong>
  <%= @task.assignee %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
